.container {
    display: grid;
    grid-template-areas:
        "menu"
        "filtros"
        "principal"
        "cuadrados"
        "pie";
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr;
}

.menu {
    grid-area: menu;
}

.filtros {
    grid-area: filtros;
}

.principal {
    grid-area: principal;
}

.pie {
    grid-area: pie;
}

@media (min-width: 576px) {
    .container {
        grid-template-areas:
            "menu menu"
            "filtros principal"
            "cuadrados cuadrados"
            "pie pie";
        grid-template-columns: 1fr 3fr;
    }
}

/* version movil */

.panel {
    float: left;
}

.icono {
    float: right;
    display: block;
}

@media (min-width: 577px) {
    .icono {
        display: none; /* El icono se oculta cuando la pantalla tiene 577px de ancho o más */
    }
}

.menu {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    background-color: chartreuse;
}

.filtros {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: rgba(128, 255, 0, 0.432);
}

.principal {
    border-color: grey;
    /* Color del borde */
    border-width: 1px;
    /* Ancho del borde */
    border-style: solid;
    /* Estilo del borde */
    ;
}

.precio {

    background-color: white;
    /* Fondo blanco */
    padding: 10px;
    /* Espacio interior */
    border: 10px solid rgba(128, 255, 0, 0.432);
    /* Borde color */
    text-align: left;

}

.flecha {
    float: right;
}

.panelsolar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.ver {
    background-color: chartreuse;
    ;
    /* Fondo blanco */
    padding: 1px;
    /* Espacio interior */
    border: 0px solid rgb(255, 255, 255);
    /* Borde color */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}

.container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.cuadrados {
    display: block; /* El  es visible por defecto */
}
    @media (min-width: 577px) {
        .cuadrados {
            display: none; /* El icono se oculta cuando la pantalla tiene 577px de ancho o más */
        }
    }

.item2 {
    border: 1px solid rgba(128, 255, 0, 0.432);
    ;
    padding: 3px;
}

.pie {
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}

.pie1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    
   
}


.pie2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: chartreuse;
}

/*   desktop  */

